body
{
	font-family: arial;
}

h1{display: inline; font-size: 2em;}
h2{display: inline; font-size: 1.6em;}
h3{display: inline; font-size: 1.5em;}
h4{display: inline; font-size: 1.2em;}
h5{display: inline; font-size: 1em;}
h6{display: inline; font-size: 0.8em;}

p{color: #222; display: inline; font-size: 1.2em;}

table#alltests
{
	color: #111;
	width: 100%;
}

table#alltests tr.fail
{
	background-color: #fdd;
}

table#alltests tr.nofail 
{
	background-color: #bfb;
}

table#alltests th
{
	border: 1px solid #fff;
	width: 160px;
}

table#alltests td
{
	border: 1px solid #111;
	text-align: left;
}

table#typetests
{
	color: #333;
	margin: 1em;
	width: 96%;
}

table#typetests tr.fail 
{
	background-color: #fbb;
}

table#typetests tr.nofail 
{
	background-color: #cfc;
}

table#tests
{
	background-color: #bfb;
	color: #000;
	margin: 1em;
	width: 96%;
}

table#tests tr.fail 
{
	background-color: #bfb;
}

table#tests tr.nofail 
{
	background-color: #fbb;
}

pre
{
	background-color: #ccc;
	border: 1px solid #111;
	margin: 0em 0.6em 0.6em 0.6em;
}

/*
#fdd
failed #fbb
passed #cfc;
skipped #777;